*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #f5f7fa;
}

.main-container{
    display: flex;
    background: #fff;
    margin: 20px;
}

.aside-container{
    width: 370px;
    background-color: #1e2939;
    color: #fff;
    padding: 40px 0 0 0;
}

.contact-container{
    margin: 60px 40px 0;
}

.container{
    padding: 110px 90px 110px 90px;

}

.photo{
width: 370px;
}

.text-type{
width: 500px;;
color: #595959;
font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 24px;
/* Text style for "Lorem ipsu" */
letter-spacing: 0.42px;
margin-bottom: 65px;;
}

.aside-name{
color: #ffffff;
font-size: 22px;
font-weight: 700;
line-height: 24px;
padding: 20px;
}

.tech-container{
    margin: 0px 40px 0;
}

.tech-text-type{
color: #ff6b08;
margin-left: 15px;
font-size: 14px;
font-weight: 400;
line-height: 24px;
}

.tech-skills-text{
color: #b7bbc0;
}

/*Container*/
.text-decoration{
font-size: 14px;
font-weight: 700;
line-height: 24px;
margin-bottom: 15px;
}

.named-decoration{
font-size: 45px;
font-weight: 700;
line-height: 89px;
margin-bottom: 25px;
}

.project-decoration{
font-size: 22px;
font-weight: 700;
line-height: 24px;
margin-bottom: 12px;
}

.num-decoration{
    color: #000000;
font-family: Montserrat;
font-size: 14px;
font-weight: 700;
line-height: 24px;
margin-left: 15px;
}

.work-decoration{
    margin-bottom: 15px;
}

.work-text-type{
    color: #ff8c40;
}

/*Education*/
.education-type{
    color: #ff7519;
    margin-bottom: 15px;
}

.date-decoration{
margin-bottom: 15px;
color: #a8a8a8;
font-size: 12px;
font-weight: 400;
line-height: 24px;
}
