@media(max-width:1200px){
    .aside-container{
        display: inline-block;
        justify-content: center;
    }

    .main-container{
        display: flex;
    }
}


@media(max-width:1020px){
    .aside-container{
        display:none;
    }
}

@media(max-width:900px){
    .aside-container{
        display: none;
        justify-content: center;
    }
}

@media(max-width:500px){
    .main-container{
        display: inline-block;
        justify-content: center;
    }

    .container{
        padding: 10px 35px;
    }

    .text-type{
        width: 300px;
        font-weight: 200;
        font-size: 10px;
        margin-bottom: 35px;
    }

    .named-decoration{
        font-size: 25px;
        font-weight: 700;
        line-height: 50px;
    }

    .num-decoration{
        font-size: 10px;
    }

    .work-decoration{
        font-size: 15px;
    }
}

@media(max-width:350px){
    .main-container{
        width: 320px;
        justify-content: center;
    }

    .container{
        padding: 10px 35px;
    }

    .text-type{
        width: 250px;
        font-weight: 200;
        font-size: 10px;
        margin-bottom: 15px;
    }

    .named-decoration{
        font-size: 25px;
        font-weight: 700;
        line-height: 20px;
    }

    .num-decoration{
        font-size: 10px;
    }

    .work-decoration{
        font-size: 15px;
    }
}